.roster-card-wrapper {
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  background: #ccc6ac;
  .headshot-and-bio {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    .headshot-group {
      .headshot {
        width: 180px;
        height: auto;
      }
      .view-details-btn {
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        border: 1px solid darkorange;
        border-radius: 4px;
        background: none;
        cursor: pointer;
        font-size: 16px;
        &:hover {
          background: gray;
        }
        &:active {
          background: darkgray;
        }
        &:focus-visible {
          outline: 1px solid blue;
          outline-offset: 3px;
        }
      }
    }
    .bio {
      text-align: left;
      font-size: 16px;
    }
  }
}
