.roster-card-wrapper {
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  .headshot-and-bio {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    .headshot {
      width: 100%;
      height: auto;
    }
    .bio {
      text-align: left;
    }
  }
}